@import "./variables";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

[data-bs-theme="dark"] {
	color-scheme: dark;
	--bs-light-bg-subtle: #15181b;
	--bs-light-border-subtle: #24252b;
	--bs-border-color: #24252b;
	--bs-body-bg: #111417;
}

/* Onboarding */
.onboarding {
	.card-body {
		padding: 3.5rem;
	}
}

/* Global */
.cursor-pointer {
	cursor: pointer;
}
.offcanvas-lg {
	min-width: 280px;
}

/* Profile */
.card-profile{
    .card-header{
        min-height: 120px;
       background: rgb(6, 182, 212);
    }
    .cover{
        margin-top: -50px;
        h3{
            margin-top: 2.2rem;
        }
    }
}
.avatar-lg{
    width: 100px; 
    height: 100px; 
    font-size: 2.5rem; 
    background: rgb(6, 182, 212);
}