@import "./variables";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

[data-bs-theme="dark"] {
	color-scheme: dark;
	--bs-light-bg-subtle: #15181b;
	--bs-light-border-subtle: #24252b;
	--bs-border-color: #24252b;
	--bs-body-bg: #111417;

	.btn-light {
		color: #ffffff;
		background-color: transparent;
		border-color: $slate-700;
		&:hover {
			background-color: rgba($color: #ffffff, $alpha: 0.1);
		}
	}
}

/* Onboarding */
.onboarding {
	.card-body {
		padding: 3.5rem;
	}
}

/* Global */
.cursor-pointer {
	cursor: pointer;
}

.offcanvas-lg {
	min-width: 280px;
}
/* Backgrounds */
.bg-purple {
	background: $indigo-600;
}
.bg-orange {
	background: $amber-500;
}
.bg-pink {
	background: $red-50;
}

/* Profile */
.card-profile {
	.card-header {
		min-height: 120px;
		background: #2c3e5a;
	}

	.cover {
		margin-top: -50px;

		h3 {
			margin-top: 2.2rem;
		}
	}

	&.card-profile-md {
		.card-header {
			min-height: 100px;
		}
		.cover {
			margin-top: -50px;

			h3 {
				margin-top: 2.4rem !important;
			}
		}
	}
}

.avatar-lg {
	width: 100px;
	height: 100px;
	font-size: 2.5rem;
	background: #2c3e5a;
	color: #ffffff;
}
.avatar-md {
	width: 80px;
	height: 80px;
	font-size: 2.2rem;
	background: #2c3e5a;
	color: #ffffff;
}
